


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> </h1>
    <a asp-action="index" asp-route-lang="en" class="btn btn-primary">en</a>
    <br />
    <a asp-action="index" asp-route-lang="ar" class="btn btn-primary">ar</a>

</div>
